body {
	min-width: 980px;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
}
.feed-list {
	list-style: none;
}
.feed-list li {
	margin: 10px 0;
	border-top: 1px solid gray;
}
.feed-list li:first-child {
	border-top: none;
}
.user-link {
	margin: 0 10px 0 0;
}
.video-cover-block {
	position: relative;
	display: block;
}
.video-cover-block span {
	background: url('http://static.ak.fbcdn.net/rsrc.php/v2/yJ/x/Gj2ad6O09TZ.png') no-repeat 0 0;
	bottom: 5px;
	height: 26px;
	left: 5px;
	position: absolute;
	width: 35px;
}
.feed-item-footer {
	margin: 5px 0 0;
}